@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(174, 14, 233, 0.1);
}
header {
	width: 100%;
}
#src {
	width: 80px;
	height: 80px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	clip-path: polygon(100% 0, 0 0, 100% 100%);
	background-image: linear-gradient(90deg, #ae0ee9, #2e19a7);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#src > img {
	width: 36px;
	position: relative;
	top: 8px;
	left: 40px;
}

main {
	margin: 20px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
h1 {
	padding-top: 25px;
	font-size: 3.5rem;
	text-transform: uppercase;
	text-align: center;
	background-image: linear-gradient(90deg, #ae0ee9, #2e19a7);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: default;
}
#sub-head {
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	background-image: linear-gradient(90deg, #2e19a7, #ae0ee9);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
	cursor: default;
}
main > select {
	border-radius: 3px;
	border: solid thin #ae0ee9;
	background: none;
	margin: 20px 0;
	padding: 10px;
	outline: none;
}

#query {
	background: none;
	border-radius: 3px;
	border: solid thin #ae0ee9;
	padding: 8px;
	font-size: 1rem;
	font-weight: 350;
	outline: none;
}
#search-btn {
	color: #fff;
	padding: 10px 20px;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: capitalize;
	border: none;
	border-radius: 3px;
	background: linear-gradient(90deg, #ae0ee9, #2e19a7);
}
.sug-container {
	position: relative;
	width: 100%;
}
#suggestions {
	position: absolute;
	margin-top: 1px;
	width: 100%;
	border-radius: 5px;
	background-color: #2d2d2d;
}
#suggestion-result {
	color: #fff;
	font-weight: 350;
	text-align: left;
	padding: 3.5px 8px;
	cursor: pointer;
}
#results {
	width: 90%;
	border-top: solid thin rgba(174, 14, 233, 0.3);
	margin: 30px 0;
	padding: 20px 0;
	text-align: left;
	font-weight: 400;
}
li {
	list-style: none;
	margin: 3px 0;
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 14px;
	}
}
